.logoWrap {
  display: flex;
}

.wrap {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  margin-left: 20px;
}

.text {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #777777;
  text-transform: uppercase;
  margin-right: 4px;
}
