.selectedWrap {
  background-color: #c0c0c0;
  width: 100vw;
  height: 48px;
}

.container {
  max-width: 1440px;
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.button {
  display: flex;
  align-items: center;
  padding: 0;
  line-height: 1.4;
  background-color: transparent;
  border: none;
  color: #fff;
  fill: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  a {
    color: inherit;
    fill: inherit;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.4;
  }
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.icon {
  margin-right: 6px;
}
